body {
    margin: 0;
    font-family: sans-serif;
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 20px;
}

.scores {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.team {
    width: 45%;
}

.score {
    font-size: 96px;
    margin: 20px 0;
}

button {
    width: 100%;
    height: 120px;
    font-size: 48px;
}

.controls {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.controls button {
    width: 45%;
    height: 80px;
    font-size: 32px;
}